{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row p-3">
        <div class="col-md-6">
            <img src="{{movie.ima.url}}" width="400" height="400">
        </div>
        <div class="col-md-6">
            <div class="row" style="height:20%;">
                <h2>{{movie.name}}</h2>
            </div>
            <div class="row">
                <div class="row">
                    <h6>Year:{{movie.year}}</h6>
                </div>
            </div>
            <div class="row" style="height:60%;">
                <div class="row">
                    <h6>{{movie.desc}}</h6>
                </div>
            </div>
            <div class="row" style="height:20%;">
                <div><a class="btn btn-primary" href="{% url 'movies_app:updates' movie.id %}">Update</a></div><br>
                <div><a class="btn btn-outline-danger" href="{% url 'movies_app:delete' movie.id %}">Delete</a></div>
            </div>
        </div>
    </div>
</div>
<!--{{movie.name}}-->
<!--{{movie.year}}<br>-->
<!--<img src="{{movie.ima.url}}" width="200" height="200"><br>-->
<!--{{movie.desc}}<br>-->
<!--<a class="btn btn-warning" href="{% url 'movies_app:updates' movie.id %}">Update</a>-->
<!--<a class="btn btn-danger" href="{% url 'movies_app:delete' movie.id %}">Delete</a>-->
{% endblock %}